.main {
  width: 80%;
  position: fixed;
  animation: fade .4s ease-in-out;
  top: 3rem;
  z-index: 9999;
  height: 3rem;
  background-color: rgb(252, 252, 252);
  box-shadow: 0 0 4px #bbbbbb;
  border-radius: 5px;
  display: flex;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  line-height: 1.5rem;
  align-items: center;
  padding: 0.1rem 0.5rem ;
  font-size: 0.9rem;
  color: #666666;

  img {
    height: 1.5rem;
    margin-right: 0.2rem;
  }
  div {
    padding: 0 1%;
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    white-space: nowrap;
    overflow-x: hidden;
    img {
      height: 1.2rem;
      margin-right: 0.2rem;
    }
    p{
      flex-grow: 1;
    }
    span {
      margin-right: .5rem;
      font-size: 0.8rem;
      color: #239af4;
    }
  }
  span {
    font-size: 1.5rem;
    font-weight:bolder;
    color: #d2d2d2;
  }
}

.avatar {
  width: 1.2rem !important;
  height: 1.2rem;
  overflow: hidden;
  border-radius: 50%;
  padding: 0 !important;
  margin-right: .2rem;
}

@keyframes fade {
  from {
    opacity: 0.1;
    top: 0;
  }
  to {
    opacity: 1;
    top: 4rem;
  }
}

