  .container {
    animation: fade .3s linear;
    background-color: rgba(33, 33, 33, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 9999;
    .body {
      background: #fff;
      border-radius: 5px;
      padding: 30px;
      width: 60%;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate3d(-50%, -50%, 0);
      .title {
        text-align: center;
        font-size: 1.15rem;
        font-weight: bold;
        &.error:before {
          content: '❌';
          display: inline-block;
        }
        &.success:before {
          content: '✔';
          color: rgb(75, 231, 14);
          display: inline-block;
        }
        &.confirm:before {
          content: '❓';
          display: inline-block;
        }
        &.alert:before {
          content: '❕';
          display: inline-block;
        }
        &.defaults:before {

        }
      }
      .content {
        min-height: 100px;
      }
      .footer {
        text-align: center;
        button {
          margin: 0 5%;
          padding: 0.5rem 1.55rem;
          font-size: 1rem;
          border-radius: 2px;
          background-color: #23a2ff;
          border: 0;
          outline: none;
          color: white;
          font-family: "PingFang SC";
          &:hover {
            cursor: pointer;
            opacity: 0.6;
          }
        }
        .ok_btn {

        }
        .cancel_btn {
          background-color: #b7b7b7;
        }
      }
    }
  }

  @keyframes fade {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }