@import "../../../global.scss";
.item {
  //margin: 0.5rem 0.8rem;
  margin-bottom: .5rem;
  //border-radius: 3px;
  background-color: #fff;
  border-bottom: .5px solid #e1e1e1;
  padding: 1.1rem .7rem;
  padding-bottom: 1rem;
  position: relative;
  box-shadow: 0 1px 2px #dadada;

  //box-shadow: 0 0 10px #e3e3e3;

  h4, h5{
    margin: 0;
    font-weight: normal;
    margin-bottom: .85rem;
    color: #333333;
  }
  h4{
    font-size: 1rem;
    font-weight: bold;
  }
  h5 {
    font-weight: 400;
    color: $sub-text-color;
    font-size: .9rem;
  }
  img {
    width: 1.2rem;
  }
}

.assistList {
  //margin-top: 2.35rem;
  //margin-top: .35rem;
  display: flex;
  justify-content: space-between;
  font-size: .875rem;
  font-weight: 400;
  align-items: center;
}

.left {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  color: #666666;
}

.right {
}

.wrapper {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  .avatar {
    width: 1.2rem;
  }
}

.empty {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  top:50%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #a8a8a8;
  font-size: 1.5rem;
  img {
    width: 7rem;
    margin: 0 auto;
  }
  h4 {
    font-weight: 300 !important;
  }

}

.transferTime {
  display: flex;
  align-items: center;
  color: #666666;
  img {
    margin-left: .5rem;
  }
}


